@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap');

:root{
   --primary-cyan: #5fb4a2;
   --dark-blue: #203a4c;
   --gray-dark-blue: #33323d;
   --bg-light-gray: #fafafa;
   --txt-field-light-gray: #eaeaea;
   --error-red: #f43030;
  }
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.container{
  width: 1110px;
  margin: 0 auto;
}
h1{
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.45px;
}
h2{
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}
h3{
  font-family: 'Ibarra Real Nova', serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.29px;
}
button:hover{
  cursor: pointer;
  border: none;
}
.btn-primary{
  width: 200px;        
  height: 48px;
  background-color: var(--dark-blue);
  border: none;
}
.btn-primary:hover{
  background-color: var(--primary-cyan);
  border-color: var(--primary-cyan);
}
.btn-primary:disabled{
  background-color: var(--txt-field-light-gray);
}
.btn-secondary{
  width: 162px;
  height: 48px;
  background-color: #fff;
  border:1px solid var(--gray-dark-blue);
}
.btn-secondary:hover{
  background-color: var(--gray-dark-blue);
  color: var(--bg-light-gray);
}
.btn-secondary:disabled{
  background-color: var(--bg-light-gray);
} 
ul li{
  list-style-type: none;
}
input{
  width: 240px;
  height: 86px;
  background-color: var(--txt-field-light-gray);
}
textarea:active, input:active{
  border: 1px solid var(--primary-cyan);
}
textarea:blank, input:blank{
  border: 1px solid var(--error-red);
}
textarea{
  width: 237px;
  height: 72px;background-color: var(--txt-field-light-gray);
}
hr{
  background-color: #e3e3e3;
  height: 1px;
  border: 0;
}
a{
  color: unset;
  text-decoration: unset;
}
.section{
  margin: 40px auto;
}
/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.navbar .navbar-list{
  display: flex;
}
.navbar .navbar-list .navbar-list-item{
  margin: 0 15px;
  color: var(--gray-dark-blue);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
.navbar .navbar-list .navbar-list-item.active{
  color: var(--primary-cyan);
}
.navbar .navbar-list .navbar-list-item:hover{
  color: var(--primary-cyan);
  cursor: pointer;
}
.navbar .navbar-list .navbar-list-item:last-child{
  margin-right: unset;
}

/* Home Page */

.home-page .hero{
  display: flex;
  position: relative;
}

.home-page .hero .hero-image {
  background-image: url(./images/homepage/desktop/image-homepage-hero@2x.jpg);
  background-size: cover;
  overflow-y: hidden;
  width: 100%;
  height: 660px;
}
.home-page .hero .details{
  position: absolute;
  bottom: 0;
}
.home-page .hero .details{
  width: 445px;
  height: 357px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-page .hero .details h1{
  margin-top: 20px;
  padding-right: 50px;
}
.home-page .hero .details button{
  color: #fff;
  text-transform: uppercase;
  line-height: 48px;
}
.home-page .hero .details button .icon{
  float: left;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
.home-page .hero .details button:hover .icon svg g{
  stroke: #fff;
}

.about-me{
  margin-top: 150px !important;
  display: flex;
}
.about-me .profile-image{
  background-image: url(./images/homepage/desktop/image-homepage-profile@2x.jpg);
  background-size: cover;
  width: 540px;
  height: 600px;
}
.about-me .details{
  width: 350px;
  height: 600px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-me .details h2{
  margin: 50px 0 30px 0;
}
.about-me .details p{
  padding-right: 0;
}
.about-me .details button{
  margin-bottom: 50px ;
  text-transform: uppercase;
}
.contact{
  margin-top: 150px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact h2{
  width: 350px;
}
.contact hr{
  width: 47%;
}
.contact button{
  text-transform: uppercase;
}

/* Portfolio Page */

.portfolio-page .section{
  margin-top: 100px !important;
  display: flex;
}
.portfolio-page .section:nth-child(even){
  flex-direction: row-reverse;
}
.portfolio-page .manage .manage-image,
.portfolio-page .bookmark .bookmark-image,
.portfolio-page .insure .insure-image,
.portfolio-page .fylo .fylo-image{
  background-size: cover;
  width: 540px;
  height: 500px;
}
.portfolio-page .manage .manage-image{
  background-image: url(./images/portfolio/desktop/image-portfolio-manage.jpg);
}
.portfolio-page .bookmark .bookmark-image{
  background-image: url(./images/portfolio/desktop/image-portfolio-bookmark.jpg);
}
.portfolio-page .insure .insure-image{
  background-image: url(./images/portfolio/desktop/image-portfolio-insure.jpg);
}
.portfolio-page .fylo .fylo-image{
  background-image: url(./images/portfolio/desktop/image-portfolio-fylo.jpg);
}
.portfolio-page .details{
  height: 500px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.portfolio-page .section:nth-child(odd) .details,
.portfolio-page .section:nth-child(even) .details{
  margin-left: 75px;
  margin-right: 75px;
}
.portfolio-page .details h2{
  margin: 50px 0 30px 0;
}
.portfolio-page .details p{
  padding-right: 70px;
}
.portfolio-page .details button{
  margin-bottom: 50px ;
  text-transform: uppercase;
}

/* Manage-project Page */
/* Bookmark-project Page */
/* Insure-project Page */
/* Fylo-project Page */
.fylo-page,
.insure-page,
.bookmark-page,
.manage-page{
  margin-top: 100px;
}
.fylo-page .project-image .fylo-image,
.insure-page .project-image .insure-image,
.bookmark-page .project-image .bookmark-image,
.manage-page .project-image .manage-image{
  height: 500px;
  width: 100%;
  background-size: cover;
}
.fylo-page .project-image .fylo-image{background-image: url(./images/detail/desktop/image-fylo-hero@2x.jpg);}
.insure-page .project-image .insure-image{background-image: url(./images/detail/desktop/image-insure-hero@2x.jpg);}
.bookmark-page .project-image .bookmark-image{background-image: url(./images/detail/desktop/image-bookmark-hero@2x.jpg);}
.manage-page .project-image .manage-image{background-image: url(./images/detail/desktop/image-manage-hero@2x.jpg);}

.fylo-page .project-details,
.insure-page .project-details,
.bookmark-page .project-details,
.manage-page .project-details {
  display: flex;
  margin-top: 100px;
}
.fylo-page .project-details .project-summary,
.insure-page .project-details .project-summary,
.bookmark-page .project-details .project-summary,
.manage-page .project-details .project-summary{
  width: 40%;
  display: flex;
}
.fylo-page .project-details .project-summary .details,
.insure-page .project-details .project-summary .details,
.bookmark-page .project-details .project-summary .details,
.manage-page .project-details .project-summary .details{
  height: 500px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.fylo-page .project-details .project-summary .details h2,
.insure-page .project-details .project-summary .details h2,
.bookmark-page .project-details .project-summary .details h2,
.manage-page .project-details .project-summary .details h2{
  margin: 50px 0 30px 0;
}
.fylo-page .project-details .project-summary .details p,
.insure-page .project-details .project-summary .details p,
.bookmark-page .project-details .project-summary .details p,
.manage-page .project-details .project-summary .details p{
  font-size: 15px;
}
.fylo-page .project-details .project-summary .details .tech-stack-info,
.insure-page .project-details .project-summary .details .tech-stack-info,
.bookmark-page .project-details .project-summary .details .tech-stack-info,
.manage-page .project-details .project-summary .details .tech-stack-info{
  margin: 57px 0 20px 0;
}
.fylo-page .project-details .project-summary .details .tech-stack-info p.tech-info,
.fylo-page .project-details .project-summary .details .tech-stack-info p.stack,
.insure-page .project-details .project-summary .details .tech-stack-info p.tech-info,
.insure-page .project-details .project-summary .details .tech-stack-info p.stack,
.bookmark-page .project-details .project-summary .details .tech-stack-info p.tech-info,
.bookmark-page .project-details .project-summary .details .tech-stack-info p.stack,
.manage-page .project-details .project-summary .details .tech-stack-info p.tech-info,
.manage-page .project-details .project-summary .details .tech-stack-info p.stack{
  color: var(--primary-cyan);
  font-weight: bold;
  font-size: 16px;
  padding: unset;
}
.fylo-page .project-details .project-summary .details .tech-stack-info p.stack,
.insure-page .project-details .project-summary .details .tech-stack-info p.stack,
.bookmark-page .project-details .project-summary .details .tech-stack-info p.stack,
.manage-page .project-details .project-summary .details .tech-stack-info p.stack{
  margin-top: 20px;
}
.fylo-page .project-details .project-summary .details button,
.insure-page .project-details .project-summary .details button,
.bookmark-page .project-details .project-summary .details button,
.manage-page .project-details .project-summary .details button{
  margin-bottom: 50px ;
  text-transform: uppercase;
}
.fylo-page .project-details .project-background,
.insure-page .project-details .project-background,
.bookmark-page .project-details .project-background,
.manage-page .project-details .project-background{
  width: 61%;
}
.fylo-page .project-details .project-background h3,
.insure-page .project-details .project-background h3,
.bookmark-page .project-details .project-background h3,
.manage-page .project-details .project-background h3{
  line-height: 42px;
}
.fylo-page .project-details .project-background .description,
.insure-page .project-details .project-background .description,
.bookmark-page .project-details .project-background .description,
.manage-page .project-details .project-background .description{
  margin: 40px 0;
}
.fylo-page .project-details .project-background .previews,
.insure-page .project-details .project-background .previews,
.bookmark-page .project-details .project-background .previews,
.manage-page .project-details .project-background .previews{
  margin-bottom: 30px;
}
.fylo-page .project-details .project-background .project-previews .preview,
.insure-page .project-details .project-background .project-previews .preview,
.bookmark-page .project-details .project-background .project-previews .preview,
.manage-page .project-details .project-background .project-previews .preview{
  background-size: cover;
  width: 100%;
  height: 400px;
}

.fylo-page .project-details .project-background .project-previews .preview:first-child,
.insure-page .project-details .project-background .project-previews .preview:first-child,
.bookmark-page .project-details .project-background .project-previews .preview:first-child,
.manage-page .project-details .project-background .project-previews .preview:first-child{
  margin-bottom: 20px;

}
.fylo-page .project-details .project-background .project-previews .preview:first-child{background-image: url(./images/detail/desktop/image-fylo-preview-1@2x.jpg);}
.insure-page .project-details .project-background .project-previews .preview:first-child{background-image: url(./images/detail/desktop/image-insure-preview-1@2x.jpg);}
.bookmark-page .project-details .project-background .project-previews .preview:first-child{background-image: url(./images/detail/desktop/image-bookmark-preview-1@2x.jpg);}
.manage-page .project-details .project-background .project-previews .preview:first-child{
  background-image: url(./images/detail/desktop/image-manage-preview-1@2x.jpg);
}

.fylo-page .project-details .project-background .project-previews .preview:last-child{background-image: url(./images/detail/desktop/image-fylo-preview-2@2x.jpg);}
.insure-page .project-details .project-background .project-previews .preview:last-child{background-image: url(./images/detail/desktop/image-insure-preview-2@2x.jpg);}
.bookmark-page .project-details .project-background .project-previews .preview:last-child{background-image: url(./images/detail/desktop/image-bookmark-preview-2@2x.jpg);}
.manage-page .project-details .project-background .project-previews .preview:last-child{
 background-image: url(./images/detail/desktop/image-manage-preview-2@2x.jpg)
}

.fylo-page .project-details .project-background .project-previews img:first-child,
.insure-page .project-details .project-background .project-previews img:first-child,
.bookmark-page .project-details .project-background .project-previews img:first-child,
.manage-page .project-details .project-background .project-previews img:first-child{
  margin-bottom: 20px;
}
.fylo-page .previouse-next,
.insure-page .previouse-next,
.bookmark-page .previouse-next,
.manage-page .previouse-next {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid ;
  border-bottom: 1px solid ;
  border-color: #33323d21;
}
.fylo-page .previouse-next .divider,
.insure-page .previouse-next .divider,
.bookmark-page .previouse-next .divider,
.manage-page .previouse-next .divider{
  width: 1px;
  height: 130px;
  background-color: var(--gray-dark-blue);
  opacity: 15%;
}
.fylo-page .previouse-next .next span,
.insure-page .previouse-next .next span,
.bookmark-page .previouse-next .next span,
.manage-page .previouse-next .next span{float: right;}

.fylo-page .previouse-next .previouse ,
.fylo-page .previouse-next .next,
.insure-page .previouse-next .previouse ,
.insure-page .previouse-next .next,
.bookmark-page .previouse-next .previouse ,
.bookmark-page .previouse-next .next,
.manage-page .previouse-next .previouse ,
.manage-page .previouse-next .next {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.fylo-page .previouse-next .previouse:hover .holder span,
.fylo-page .previouse-next .next:hover .holder span,
.insure-page .previouse-next .previouse:hover .holder span,
.insure-page .previouse-next .next:hover .holder span,
.bookmark-page .previouse-next .previouse:hover .holder span,
.bookmark-page .previouse-next .next:hover .holder span,
.manage-page .previouse-next .previouse:hover .holder span,
.manage-page .previouse-next .next:hover .holder span{
  text-decoration: underline;
}
.fylo-page .previouse-next .previouse .holder,
.insure-page .previouse-next .previouse .holder,
.bookmark-page .previouse-next .previouse .holder,
.manage-page .previouse-next .previouse .holder
{
  margin-left: 15px;
}
.fylo-page .previouse-next .next .holder,
.insure-page .previouse-next .next .holder,
.bookmark-page .previouse-next .next .holder,
.manage-page .previouse-next .next .holder{
  margin-right: 15px;
}

/* Contact Page */
.contact-page{
  margin: 50px 0;
}
.contact-page .intro,
.contact-page .contact-form{
  display: flex;
  justify-content: space-between;
}
.contact-page .intro .right-side,
.contact-page .contact-form .right-side{
  width: 635px;
}
.contact-page .intro .right-side .socials{
  display: flex;
}
.contact-page .intro .right-side .socials .socials-item{
  margin-top: 20px;
}
.contact-page .intro .right-side .socials .socials-item:not(:first-child){
  margin-left: 20px;
}
.contact-page .contact-form .right-side form .form-item:not(:first-child){
  margin: 20px 0;
}
.contact-page .contact-form .right-side form .form-item label{
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
}
.contact-page .contact-form .right-side form .form-item input{
  height: 48px;
}
.contact-page .contact-form .right-side form .form-item textarea{
  height: 96px;
}
.contact-page .contact-form .right-side form .form-item input,
.contact-page .contact-form .right-side form .form-item textarea{
  width: 100%;
  border: none;
  padding: 10px;
}
.contact-page .contact-form .right-side form button{
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
}
/* Footer */
footer {
  background-color: var(--gray-dark-blue);
  margin-top: 150px !important;
  height: 80px;
}
footer .footer-navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  line-height: 80px;
}
footer .footer-navs .footer-list{
  display: flex;
  color: #fff;
}
footer .footer-navs .footer-list .footer-logo{
  margin-right: 20px;
  height: 80px;
  display: inline-block;
  line-height: 80px;
}
footer .footer-navs .footer-list .footer-list-item {
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}
footer .footer-navs .footer-socials .footer-socials-item {
  margin: 0 10px;
  height: 80px;
  line-height: 80px;
  display: inline-block;
}
footer .footer-navs .footer-socials .footer-socials-item:last-child {
  margin-right: 0;
}
footer .footer-navs .footer-list .footer-list-item:hover {
  cursor: pointer;
  color:var(--primary-cyan);
}
footer .footer-navs .footer-socials .footer-socials-item svg:hover path{
  fill: var(--primary-cyan);
  cursor: pointer;
}



/* mobile screen */
@media screen and (max-width: 375px) {
  
  
}

/* tablet screen */
@media screen and  (max-width: 768px) {
  body{
    font-size: 15px;
  }
  .container{
    width: 689px;
  }
  h1{
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -.36px;
  }
  .home-page .hero .details {
    width: 514px;
    height: 278px;
  }
  .home-page .hero .details h1{
    margin-top: 50px;
  }
  
  .about-me .profile-image {
    width: 281px;

  }
  .home-page .hero .hero-image {
    background-image: url(./images/homepage/tablet/image-homepage-hero.jpg);
  }
  .about-me .profile-image  {
    background-image: url(./images/homepage/tablet/image-homepage-profile.jpg);
  }
  .about-me .details{
    margin-left: 75px;
  }

  /* Portfolio Page */
  .portfolio-page .manage,
  .portfolio-page .bookmark,
  .portfolio-page .insure,
  .portfolio-page .fylo{
    justify-content: space-between;
  }
  .portfolio-page .manage .manage-image,
  .portfolio-page .bookmark .bookmark-image,
  .portfolio-page .insure .insure-image,
  .portfolio-page .fylo .fylo-image{
    background-size: cover;
    width: 339px;
    height: 314px;
    align-self: center;
  }
  .portfolio-page .manage .manage-image{
    background-image: url(./images/portfolio/tablet/image-portfolio-manage.jpg);
  }
  .portfolio-page .bookmark .bookmark-image{
    background-image: url(./images/portfolio/tablet/image-portfolio-bookmark.jpg);
  }
  .portfolio-page .insure .insure-image{
    background-image: url(./images/portfolio/tablet/image-portfolio-insure.jpg);
  }
  .portfolio-page .fylo .fylo-image{
    background-image: url(./images/portfolio/tablet/image-portfolio-fylo.jpg);
  }

  .portfolio-page .details{
    height: 418px;
    width: 281px;
    margin-left: 50px;
  }
  .portfolio-page .section:nth-child(odd) .details,
  .portfolio-page .section:nth-child(even) .details{
    margin-left: unset;
    margin-right: unset;
  }
  .portfolio-page .details p{
    padding-right: unset;
  }
  .contact hr{
    width: 113px;
  }

  /* Contact Page */
  .contact-page .intro, .contact-page .contact-form{
    flex-direction: column;
  }
  .contact-page .intro .left-side h2, .contact-page .contact-form .left-side h2{
    margin-bottom: 20px;
  }

  /* Single project page */
  .fylo-page .project-image .fylo-image,
  .insure-page .project-image .insure-image,
  .bookmark-page .project-image .bookmark-image,
  .manage-page .project-image .manage-image{
    height: 500px;
    width: 100%;
    background-size: cover;
  }
  .fylo-page .project-image .fylo-image{background-image: url(./images/detail/tablet/image-fylo-hero@2x.jpg);}
  .insure-page .project-image .insure-image{background-image: url(./images/detail/tablet/image-insure-hero@2x.jpg);}
  .bookmark-page .project-image .bookmark-image{background-image: url(./images/detail/tablet/image-bookmark-hero@2x.jpg);}
  .manage-page .project-image .manage-image{background-image: url(./images/detail/tablet/image-manage-hero@2x.jpg);}

  .fylo-page .project-details,
  .insure-page .project-details,
  .bookmark-page .project-details,
  .manage-page .project-details{
    flex-direction: column;
  }
  .fylo-page .project-details .project-summary,
  .insure-page .project-details .project-summary,
  .bookmark-page .project-details .project-summary,
  .manage-page .project-details .project-summary{
    width: 100%;
  }
  .fylo-page .project-details .project-summary .details,
  .insure-page .project-details .project-summary .details,
  .bookmark-page .project-details .project-summary .details,
  .manage-page .project-details .project-summary .details{
    height: unset;
    width: 100%;
    margin-right: unset;
  }

  .fylo-page .project-details .project-summary .details>div:first-child .short-description,
  .insure-page .project-details .project-summary .details>div:first-child .short-description,
  .bookmark-page .project-details .project-summary .details>div:first-child .short-description,
  .manage-page .project-details .project-summary .details>div:first-child .short-description{
    float: right;
    width: 339px;
    height: 150px;
  }
  .fylo-page .project-details .project-summary .details .tech-stack-info p.tech-info,
  .fylo-page .project-details .project-summary .details .tech-stack-info p.stack,
  .insure-page .project-details .project-summary .details .tech-stack-info p.tech-info,
  .insure-page .project-details .project-summary .details .tech-stack-info p.stack,
  .bookmark-page .project-details .project-summary .details .tech-stack-info p.tech-info,
  .bookmark-page .project-details .project-summary .details .tech-stack-info p.stack,
  .manage-page .project-details .project-summary .details .tech-stack-info p.tech-info,
  .manage-page .project-details .project-summary .details .tech-stack-info p.stack{
    font-size: 13px;
  }
  .fylo-page .project-details .project-background,
  .insure-page .project-details .project-background,
  .bookmark-page .project-details .project-background,
  .manage-page .project-details .project-background{
    width: 100%;
    margin-top: 50px;
  }
  .fylo-page .project-details .project-background .project-previews .preview:first-child{background-image: url(./images/detail/tablet/image-fylo-preview-1@2x.jpg);}
  .insure-page .project-details .project-background .project-previews .preview:first-child{background-image: url(./images/detail/tablet/image-insure-preview-1@2x.jpg);}
  .bookmark-page .project-details .project-background .project-previews .preview:first-child{background-image: url(./images/detail/tablet/image-bookmark-preview-1@2x.jpg);}
  .manage-page .project-details .project-background .project-previews .preview:first-child{background-image: url(./images/detail/tablet/image-manage-preview-1@2x.jpg);}

  .fylo-page .project-details .project-background .project-previews .preview:last-child{background-image: url(./images/detail/tablet/image-fylo-preview-2@2x.jpg);}
  .insure-page .project-details .project-background .project-previews .preview:last-child{background-image: url(./images/detail/tablet/image-insure-preview-2@2x.jpg);}
  .bookmark-page .project-details .project-background .project-previews .preview:last-child{background-image: url(./images/detail/tablet/image-bookmark-preview-2@2x.jpg);}
  .manage-page .project-details .project-background .project-previews .preview:last-child{
  background-image: url(./images/detail/tablet/image-manage-preview-2@2x.jpg)
  }
}